@import "tailwindcss";

@theme {
  --font-sans: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
  @apply bg-[var(--background-col)] dark:bg-[var(--dark-background-col)];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root{
  --background-col: #eeecec;
  --dark-background-col: #0e0e10;
  --accent-col: #c21237;
  --text-col: #1c1b1c;
  --dark-text-col: #FFF;
  --topnav-col: #181414;
  
}

.children-padding > *{
  @apply p-4;
}
#loading-wrapper{
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

}
.loading-circle{
    border: 16px #b1aeae solid;
    border-top: rgb(48, 183, 224) solid 16px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    

    
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg); }
  }
